<h1>Meetups</h1>

<% if @meetups %>
  <% @meetups.each do |meetup| %>
    <div class="meetup-container">
      <p><h4><a href="/meetups/<%= meetup.id %>"><%= meetup.name %></a></h5>
        <ul>
          <li><%= meetup.location %></li>
          <li><%= meetup.description %></li></p>
        </ul>
    </div>
  <% end %>
<% else %>
  <h3>There are currently no meetups at all! Maybe you should make one!</h3>
<% end %>

<form action="/meetups" method="post">
  <input type="submit" name="Create Meetup" value="Create Meetup">
</form>
